// Import Bulma's core
@import "~bulma/sass/utilities/_all";
@import "main";

// Container
$widescreen: 1000px + (2 * $gap);
$fullhd: 1000px + (2 * $gap);
$desktop: 800px + (2 * $gap);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
